@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    /*width: 100vw;
      height: 100vh;*/
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    /*overflow-x: hidden;*/
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto;
}

.container1 {
    display: grid;
    width: 100%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto;
}

a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

aside {
    height: 100vh;
}

aside .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo {
    margin-left: 2rem;
    display: flex;
    gap: 0.8rem;
}

aside .close {
    display: none;
}

aside .sidebar {
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3 {
    font-weight: 500;
}

aside .sidebar a {
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a.active {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active:before {
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar a.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
    color: var(--color-primary);
}

aside .sidebar a:hover span {
    margin-left: 1rem;
}

main {
    margin-top: 1.4rem;
}

main .students {
    margin-top: 1.5rem;
}

main .students h2 {
    margin-bottom: 0.8rem;
}

.students-table {
    overflow-x: auto;
    position: relative;
    width: 100%;
}

main .students table {
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
}

main table tbody td {
    font-size: 0.9rem;
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

main table tbody tr:last-child td {
    border: none;
}

.container1 .profile {
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.profile {
    display: flex;
    /*text-align: right;*/
}

.main-account:hover .account {
    display: flex;
}

.notifications:hover .notifications-window {
    display: flex;
}

.profile .notifications {
    width: 2rem;
    margin-top: 0.5rem;
    position: relative;
    display: flex;
    justify-content: center;
}

.profile .new-message {
    position: absolute;
    background: orange;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    right: 0;
    top: 0;
    animation: new-message 1s infinite;
}

.profile .notifications-window {
    position: absolute;
    top: 2.5rem;
    width: 14rem;
    display: none;
    border-radius: 0.5rem;
    background: var(--color-info-light);
    flex-direction: column;
    z-index: 20;
}

.profile .notifications-window .message {
    margin: 0.25rem;
    background: var(--color-background);
    border-radius: 0.5rem;
    display: flex;
}

.profile .notifications-window .sender-photo {
    margin: 0.2rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;
}

@keyframes new-message {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.6);
    }
    100% {
        transform: scale(1);
    }
}

.profile .main-account {
    display: flex;
    flex-direction: row;
}

.profile .account {
    position: absolute;
    top: 2.5rem;
    margin-top: 2rem;
    width: 4.5rem;
    display: none;
    border-radius: 0.5rem;
    background: var(--color-info-light);
    flex-direction: column;
    z-index: 20;
}

.profile .account h3 {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
}

.profile b {
    margin-top: 0.5rem;
    margin-right: 0.7rem;
    margin-left: 0.5rem;
}

.container1 button {
    display: none;
}

input[type="checkbox"] {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.3125rem;
    background-color: #fff;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: var(--color-primary);
}

.students .table-header button {
    background: var(--color-light);
    border-radius: 10px;
    color: #fff;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    border: 1px solid var(--color-primary);
    float: right;
}

.students button:hover {
    background: var(--color-primary);
}

.students button span {
    color: var(--color-dark);
}

/*
.buttons {
  text-align: center;
}
*/

.table-buttons {
    background: var(--color-light);
    border-radius: 10px;
    color: #fff;
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid var(--color-primary);
    margin-left: 0.2rem;
    margin-top: 0.3rem;
}

td .status {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.status.active {
    background: green;
}

.status.nonactive {
    background: grey;
}

.dialogOverlay, .delete-student-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    /*top: 0;
      left: 0;*/
    /*width: 100%;
      height: 100%;
      /*background: rgba(0, 0, 0, 0.5);*/
    transform: translate(-50%, -50%);
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.form-container, .delete-student-container {
    padding: 1rem;
    /*position: absolute;
      max-width: 320px;*/
    /*top: 50%;
      left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    z-index: 101;
    background: #fff;
    /*width: 100%;*/

    /*border-radius: 12px;*/
    box-shadow: rgba(0, 0, 0, 0.1);
}

.form-container span, .delete-student-container span {
    position: absolute;
    top: 1rem;
    right: 20px;
    font-size: 22px;
    opacity: 0.7;
    cursor: pointer;
}

.form-container h2 {
    font-size: 20px;
    text-align: left;
    margin-left: 2rem;
    margin-top: 1rem;
}

.form-row {
    display: flex;
    width: 100%;
    height: 40px;
}

.form-row h3 {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2rem;
    width: 70px;
}

.input-box {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1.5rem;
    border: 1px solid #aaaaaa;
    width: 230px;
    padding: 0.3rem;
}

.checkbox-wrapper {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.input-box input {
    height: 100%;
    width: 100%;
}

select {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.form-container button, .delete-student-container button {
    background: var(--color-light);
    width: 8rem;
    border-radius: 10px;
    color: black;
    font-family: poppins, sans-serif;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    border: 1px solid var(--color-primary);
    display: block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .container {
        width: 94%;
        grid-template-columns: 7rem auto;
    }

    aside .logo h2 {
        display: none;
    }

    aside .sidebar h3 {
        display: none;
    }

    aside .sidebar a {
        width: 5.6rem;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
    }

    aside {
        position: fixed;
        left: -100%;
        background: var(--color-white);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4 rem var(--color-light);
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
        animation: showMenu 400ms ease forwards;
    }

    @keyframes showMenu {
        to {
            left: 0;
        }
    }

    aside .logo {
        margin-left: 1rem;
    }

    aside .logo h2 {
        display: inline;
    }

    aside .sidebar h3 {
        display: inline;
    }

    aside .sidebar a {
        width: 100%;
        height: 3.4rem;
    }

    aside .close {
        display: inline-block;
        cursor: pointer;
    }

    main {
        margin-top: 3rem;
        padding: 0 1rem;
    }

    main .students {
        position: relative;
        margin: 3rem 0 0 0;
    }

    main .students table {
        width: 170%;
        margin: 0;
    }

    main .container1 {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        width: 100%;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
    }

    .profile b {
        display: none;
    }

    .container1 button {
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--color-dark);
        left: 1rem;
    }
}

.dialog-warning {
    color: var(--color-danger);
    margin-left: 2rem;
    display: none;
}

.delete-student-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.dialog-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}